<!doctype html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tit.Site.Titlele }}</title>
  </head>
  <body>
    <br>
    <center>
      <div style="display: inline-block; vertical-align:middle;">
        {{ if .Site.Language == "es" }}
        <a href="/es" style="text-decoration: none;"><b>PÁGINA WEB DE ISMAEL HADDAD</b><br></a>
        <hr>
        <div style="text-align: justify;display: inline-block; width: 100%;">
        <a class="title" href="/arabe">APRENDE ÁRABE</a> &nbsp;<a class="title" href="/sobre-mi">SOBRE MI</a> &nbsp;<a class="title" href="/contacto">CONTACTO</a> &nbsp;<!--<a class="title" href="../rss.xml">RSS</a> &nbsp;-->
        {{ else }}
        <a href="/" style="text-decoration: none;"><b>ISMAEL HADDAD'S WEBSITE</b><br></a>
        <hr>
        <div style="text-align: justify;display: inline-block; width: 100%;">
        <a class="title" href="/arabe">🇪🇸 APRENDE ÁRABE</a> &nbsp;<a class="title" href="/about">ABOUT</a> &nbsp;<a class="title" href="/contact">CONTACT</a> &nbsp;<!--<a class="title" href="../rss.xml">RSS</a> &nbsp;-->
        {{ end -}}
        </div>
      </div>
    </center>
    <br><br>
    <div style="margin-bottom: 2ch;text-transform: none;">